.idea/
.gradle
**/build/
!src/**/build/
out/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
tictactoe.db
token.txt
